@font-face {
    font-family: 'Monospace';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('src/public/static/fonts/Monospace.ttf') format('truetype');
}

@font-face {
    font-family: 'Monospace';
    font-style: bold;
    font-weight: 700;
    font-display: optional;
    src: url('src/public/static/fonts/MonospaceBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monospace';
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url('src/public/static/fonts/MonospaceOblique.ttf') format('truetype');
}